@use "global" as *;

.button{
    position: relative;
	background-color: $black;
	border: rem(1) solid $black;
	color: $white;
	display: inline-block;
    padding: rem(20) 0;
    width: rem(330);
	font-size: rem(24);
	font-weight: $bold;
	line-height: calc(22/14);
	text-align: center;
    border-radius: rem(70);
	transition: color 0.2s;
	z-index: 1;
    cursor: pointer;
    @include mq(md){
        width: rem(400);
        padding: rem(40) 0;
    }
}

.button span {
	padding-right: rem(20);
	position: relative;
}

.button span::after {
	background-image: url(../images/common/button_arrow_white.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 40.74%;
    right: rem(-60);
    width: rem(60);
	height: rem(7);
	transform: translateY(-50%);
	transition: 0.2s background-color;
}

a:hover {
    transition: 0.3s;
    opacity: 0.5;
}