@use "global" as *;

.design-first{
    position: relative;
}

.design-first__inner{
    max-width: $max-width;
}

.design-first__flex{
    @include mq(md){
        display: flex;
        gap: 0 rem(50);
    }
}

.design-first__number{
    position: absolute;
    margin: auto;
    top: rem(-80);
    left: calc(50% - min(50%, rem(780)));
    width: rem(170);
    height: rem(170);
    background: $black;
    text-align: center;
    color: $white;
    font-family: $second-font-family;
    font-size: rem(60);
    font-weight: 900;
    letter-spacing: 0.05em;
    padding-top: rem(40);
    z-index: 2;
}

.design-first__img img{ 
    z-index: 1;
    @media screen {
        aspect-ratio: 656/493;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.design-first__text{
    padding-top: rem(20);
    font-size: rem(20);
    font-weight: $bold;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.05em;
}