@use "global" as *;

.design-left{
    position: relative;
    padding-top: rem(100);
    @include mq(md){
        padding-top: rem(180);
    }
}

.design-left__inner{
    max-width: $max-width;
}

.design-left__number{
    display: none;
    position: absolute;
    margin: auto;
    top: rem(190);
    left: calc(50% - min(50%, rem(600)));
    width: rem(150);
    height: rem(150);
    background: $black;
    text-align: center;
    color: $white;
    font-family: $second-font-family;
    font-size: rem(65);
    font-weight: 900;
    letter-spacing: 0.05em;
    padding-top: rem(30);
    z-index: 2;
    @include mq(md){
        display: block;
    }
}


.design-left__title{
    font-size: rem(24);
    text-decoration: underline;
    text-underline-offset: rem(6);
    padding-bottom: rem(20);
    @include mq(md){
        margin-left: rem(135);
        text-underline-offset: rem(15);
        padding-top: rem(7);
    }
}

.design-left__flex{
    @include mq(md){
        margin-top: rem(30);
        display: flex;
        gap: 0 rem(50);
    }
}

.design-left__box + .design-left__box{
    margin-top: rem(30);
    @include mq(md){
        margin-top: rem(0);
    }
}

.design-left__img img{ 
    z-index: 1;
    @media screen {
        aspect-ratio: 656/493;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.design-left__text{
    padding-top: rem(10);
    font-size: rem(20);
    font-weight: $bold;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.05em;
    @include mq(md){
        padding-top: rem(20);
        line-height: 1.5;
    }
}
