@use "global" as *;

.inquiry__contact{
    text-align: center;
    margin-top: rem(100);
    font-size: rem(20);
    font-weight: $bold;
    @include mq(md){
        margin-top: rem(200);
        display: flex;
        justify-content: center;
        font-size: rem(28);
        font-weight: $bold;
        gap: 0 rem(100);
    }
}

.inquiry__button + .inquiry__button{
    margin-top: rem(70);
    @include mq(md){
        margin-top: 0;
    }
}

.inquiry__button-push{
    margin-top: rem(20);
    @include mq(md){
        margin-top: rem(30);
    }
}

.inquiry__bg{

}