@use "global" as *;

.inquiry{
    position: relative;
}

.inquiry__top-bg{
    background-image: url(../images/common/footprints1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";
    top: rem(-160);
    right: calc(50% - min(48%, rem(300)));
    width: rem(71);
    /* height指定しないと表示されないので、ここは指定する */
    height: rem(162);
    @include mq(md){
        top: rem(-280);
        right: calc(50% - min(48%, rem(640)));
        width: rem(71);
        /* height指定しないと表示されないので、ここは指定する */
        height: rem(162);
    }
}

.inquiry__contact{
    text-align: center;
    margin-top: rem(100);
    font-size: rem(20);
    font-weight: $bold;
    @include mq(md){
        margin-top: rem(200);
        display: flex;
        justify-content: center;
        font-size: rem(28);
        font-weight: $bold;
        gap: 0 rem(100);
    }
}

.inquiry__button + .inquiry__button{
    margin-top: rem(70);
    @include mq(md){
        margin-top: 0;
    }
}

.inquiry__button p{
    letter-spacing: 0.1em;
}

.inquiry__button-push{
    margin-top: rem(20);
    @include mq(md){
        margin-top: rem(30);
    }
}

.inquiry__bg{
    background-image: url(../images/common/footer_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: rem(300);
}