@use "global" as *;

.reason{
    padding: rem(100) 0;
    @include mq(md){
        background-image: url(../images/common/bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: rem(122) 0;
    }
}

.reason__inner{
    max-width: $max-width;
}

.reason__list{
    text-align: center;
    margin-top: rem(80);
    @include mq(md){
        margin-top: rem(150);
    }
}