@use "global" as *;

.reason{
    background-image: url(../images/common/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: rem(122) 0;
}

.reason__inner{
    max-width: rem(500);
}

.reason__list{
    text-align: center;
    margin-top: rem(100);
    @include mq(md){
        margin-top: rem(150);
    }
}