@use "global" as *;

.reason{
    background-image: url(../images/common/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: rem(122) 0;
}

.reason__list{
    text-align: center;
    margin-top: rem(264);
}

.reason-cards{
    @include mq(md){
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.reason-cards__item{
    position: relative;
    background-color: $white;
    @include mq(md){
        max-width: calc(32% - 5rem * 2 / 3 );
        width: 100%;
    }
}

.reason-cards__item::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 60px solid red; /* 上向きの三角形 */
    left: 50%;
    transform: translateX(-50%); /* 要素を水平方向に中央揃え */
    top: rem(-60); /* 要素の上端に配置 */
}

















.reason-cards__item + .reason-cards__item{
    margin-top: rem(40);
    @include mq(md){
        margin-top: 0;
        margin-left: rem(40);
    }
}

/* 枚数が増えたときのための処理 */
.reason-cards__item:nth-child(3n + 1){
    @include mq(md){
        margin-left: 0;
    }
}

/* 枚数が増えたときのための処理 */
.reason-cards__item:nth-child(n + 4){
    @include mq(md){
        margin-top: 2.5rem;
    }
}









.reason-card{
	display: flex;
    flex-direction: column;
    height: 100%;
}

.reason-card__body {
    display: grid;
    place-items: center; /* 縦方向と横方向の中央揃え */
    height: 100%;
    padding: rem(0) rem(56) rem(32);
}

.reason-card__title {
    font-family: $second-font-family;
    color: $green;
    border-bottom: rem(1) solid $green;
    padding-bottom: rem(14);
    font-size: rem(32);
    font-weight: $bold;
    line-height: calc(24/16);
    text-align: center;
}


.reason-card__subtitle{
	font-weight: $regular;
	font-size: rem(24);
	text-align: center;
    padding-top: rem(24);
    line-height: 1.9;
}




