@use "global" as *;

.section-title{
	text-align: center;
}

.section-title__text{
    position: relative;
	font-size: rem(26);
	font-weight: 900;
    font-family: $second-font-family;
	line-height: 1.5;
    letter-spacing: 0.08em;
    @include mq(md){
        font-size: rem(40);
    }
}

.section-title__text::after {
    content: "";
    display: block;
    height: rem(4);
    background-color: $black;
    position: absolute;
    bottom: rem(-20);
    left: 50%;
    transform: translateX(-50%);
    width: rem(200);
    @include mq(md){
        bottom: rem(-40);
    }
} 





/*---500pxのブレイクポイントで変更したい---*/
@media screen and (max-width: 550px){
    .inquiry__break{
        display: none;
    }
}