@use "global" as *;

.strengths{
    margin-top: rem(200);
    background-color: $green;
    padding: rem(100) 0;
    color: $white;
    @include mq(md){
        padding: rem(200) 0;
    }
}

.strengths__inner{
    max-width: $max-width;
}

.strengths__list{
    margin-top: rem(80);
    @include mq(md){
        margin-top: rem(150);
    }
}