@use "global" as *;

.voice{
    padding: rem(100) 0 ;
    background-image: url(../images/common/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include mq(md){
        padding: rem(100) 0 rem(280); 
    }
}

.voice__inner{
    max-width: $max-width;
}

.voice-bg__first{
    position: relative;
}

.voice-bg__first::before {
    background-image: url(../images/common/footprints2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";
    bottom: rem(-1240);
    right: calc(50% - min(48%, rem(300)));
    width: rem(82);
    height: rem(82);
    @include mq(md){
        bottom: rem(-900);
        right: calc(50% - min(50%, rem(700)));
        width: rem(170);
        height: rem(170);
    }
}


.voice-bg__second{
    position: relative;
}

.voice-bg__second::before {
    background-image: url(../images/common/footprints1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";
    bottom: rem(-1300);
    right: calc(50% - min(48%, rem(300)));
    margin-right: rem(40);
    width: rem(60);
    height: rem(60);
    @include mq(md){
        bottom: rem(-1050);
        right: calc(50% - min(48%, rem(680)));
        margin-right: rem(70);
        width: rem(120);
        height: rem(162);
    }
}