@use "global" as *;

.voice-teacher__flex{
    margin-top: rem(80);
    @include mq(md){
        margin-top: rem(150);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.voice-teacher__img img{
    width: rem(300);
    margin: 0 auto;
    @include mq(md){
        width: rem(450);
    }
}

.voice-teacher__img{
    @include mq(md){
        width: 42%;
    }
}

.voice-teacher__content{
    margin-top: rem(40);
    @include mq(md){
        margin-top: rem(0);
        width: 50%;
    }
}

.voice-teacher__text{
    margin-top: rem(8);
    font-size: rem(16);
    font-weight: $regular;
    line-height: calc(32/16);
    letter-spacing: 0.05em;
}

.voice-teacher__text + .voice-teacher__text{
    margin-top: rem(20);
}